[data-slot="error-message"] {
    font-size: var(--heroui-font-size-small) !important;
    margin-top: 0.25rem !important;
}

header {
    padding-left: 0 !important;
    padding-right: 0 !important;
    max-width: 100% !important;
}

nav {
    justify-content: space-between !important;
    padding-left: 2rem;
    padding-right: 2rem;
}
